@font-face {
  font-family: 'Cupra';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Cupra.otf') format('opentype');
}

@font-face {
  font-family: 'Cupra';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Cupra Light.otf') format('opentype');
}

@font-face {
  font-family: 'Cupra';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Cupra Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Cupra';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Cupra Book.otf') format('opentype');
}

:root {
  font-family: "Cupra", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}